<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>televisoresOferta</title>
</head>
<body>
    <%for(var cab for electrodomesticos){ %>
        <li>
            <%= cab.electrodomesticos.tipo, cab.electrodomesticos.origen, cab.electrodomesticos.precio, cab.electrodomesticos.stock %>
        </li>
    <%}%>
</body>
</html>